<!-- Footer Area -->
<footer id="footer" class="footer ">
    <!-- Footer Top -->
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg12">
                    <div class="section-title">
                        <h2>GATA GmbH / DBRUECKE.DE</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-footer">
                        <h2>ANGABEN GEMÄSS§5TMG</h2>
                        <h6>GATA GMBH</h6>
                        <h6>GOTTESWAG 56</h6>
                        <h6>50969 Köln</h6>
                        <h6>VERTRETEN DURCH</h6>
                        <h6>H.Othman</h6>
                        <h6>Z.Sellemi</h6>
                        <!-- Social -->
                        <ul class="social">
                            <li><a href="#"><i class="icofont-facebook"></i></a></li>
                            <li><a href="#"><i class="icofont-google-plus"></i></a></li>
                            <li><a href="#"><i class="icofont-twitter"></i></a></li>
                            <li><a href="#"><i class="icofont-vimeo"></i></a></li>
                            <li><a href="#"><i class="icofont-pinterest"></i></a></li>
                        </ul>
                        <!-- End Social -->
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-footer f-link">
                        <h2>KONTAKT</h2>
                        <div class="single-footer">
                            <h6>Telefon: +49 1776440005</h6>
                            <h6>Telefon: +49 15903026337</h6>
                            <h6>E-Mail: info&#64;gatagmbh.de</h6>
                        </div>
                            
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-footer f-link">
                        <h2>AMTSGERICHT    :KÖLN</h2>
                        <div class="single-footer">
                            <h6>HBR        : 93155</h6>
                            <h6>ST.-NR.    : 219/5814/3869</h6>
                            <h6>Finanzamt  :    Köln-Süd  </h6>
                            <h6>UST.-IDNR. : DE322902266</h6>
                        </div>	
                        </div>
                    </div>
                    <!--
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-footer">
                        <h2>Open Hours</h2>
                        <p>Lorem ipsum dolor sit ame consectetur adipisicing elit do eiusmod tempor incididunt.</p>
                        <ul class="time-sidual">
                            <li class="day">Monday - Fridayp <span>8.00-20.00</span></li>
                            <li class="day">Saturday <span>9.00-18.30</span></li>
                            <li class="day">Monday - Thusday <span>9.00-15.00</span></li>
                        </ul>
                    </div>
                </div> -->
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-footer">
                    
                        <h2>Newsletter</h2>
                        <p>subscribe to our newsletter to get allour news in your inbox.. Lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>
                        <form action="mail/mail.php" method="get" target="_blank" class="newsletter-inner">
                            <input name="email" placeholder="Email Address" class="common-input" onfocus="this.placeholder = ''"
                                onblur="this.placeholder = 'Your email address'" required="" type="email">
                            <button class="button"><i class="icofont icofont-paper-plane"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div><br/>
        <h5>STREITSCHLICHTUNG:</h5>
    <p>Die Europäische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit: https://ec.europa.eu/consumers/odr. Unsere E-Mail-Adresse finden Sie oben im Impressum Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.</p>
    </div>
    <!--/ End Footer Top -->
</footer>
<!--/ End Footer Area -->
