<section class="Feautes section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="choose-left"><br/>
                     <p>Besprechungen auf hohem Niveau sind nützlich, wenn nicht

                        Es ist wichtig, schnell mit einer großen Anzahl von Kunden (potenziellen neuen Arbeitgebern) in Kontakt zu treten, die Bedarf für das haben, was man selbst anbieten kann. Aus diesem Grund klären wir für unsere Kunden:
                        
                        In welchen Unternehmen besteht Bedarf an dem, was ich anzubieten habe?
                        
                        Wie hoch ist die Wahrscheinlichkeit, dass die Position, die ideal zu meinen Fähigkeiten passt, in den nächsten Monaten neu besetzt oder neu geschaffen wird?
                        
                         Wen sollte ich in dem betreffenden Unternehmen (zum Beispiel im Aufsichtsrat, Beirat, Verwaltungsrat oder Gesellschafterkreis) kontaktieren, um bei der Besetzung der Position berücksichtigt zu werden?
                        
                        Weitere Informationen dazu finden Sie unter : Research: Der Weg zur latenten Vakanz
                        ‍
                        
                        Umwege und (aus unserer Perspektive) Zeitverschwendung!
                        Wir glauben, dass es für einen Top-Manager, der eine neue Stelle sucht, nicht erfolgreich ist.
                        
                         einen (Outplacement-) Berater aufzusuchen, um Unterstützung zu erhalten, ohne sich jedoch auf die "Psychocouch" legen zu müssen, da es nicht um Krankheit, sondern lediglich um die Suche nach einer neuen Position geht,
                         
                        
                         Zeit in Workshops mit anderen Top-Managern zu verbringen, die sich in derselben Situation befinden und ebenfalls auf der Suche nach neuen Möglichkeiten sind,</p>
                </div>
            </div>
            <div class="col-lg-6 col-12">		
                <div class="choose-right"> <br/>
                    <p> sich von ehemaligen Top-Managern beraten zu lassen, die selbst Schwierigkeiten hatten, eine neue Top-Position zu finden und daher in die weniger gut bezahlte Beratung abgedriftet sind, um anderen Top-Managern zu erklären, was ihnen selbst nicht gelungen ist – nämlich den Weg zu einer neuen Top-Position zu finden.

                        Unser Kunde kommt nur zu drei Beratungsterminen, Workshops und anderen Veranstaltungen.
                        
                        Aus diesem Grund sind unsere Kunden, die aus der gesamten D-A-CH-Region zu uns kommen, unabhängig von ihrer geografischen Lage. Während das traditionelle Outplacement auf Beratung und "Hilfe zur Selbsthilfe" setzt, bieten wir Markt-Knowhow, Forschung und Vertriebsunterstützung an.
                        
                        Ein Personalvorstand aus der DAX-30 Welt, der unser Kunde war, äußerte, dass er keine umfassende Unterstützung und Unterstützung von Outplacementberatern benötige, sondern einen effektiven Zugang zum Schreibtisch des Entscheiders in den Unternehmen, die für meine Qualifikationen geeignet sind.
                        
                        Unsere Leistung kann nur schwer besser zusammenfasst werden.
                        
                        Mehr Informationen zum Thema Outplacement finden Sie in dem Ratgeber: Outplacement.  
             
                        bifurquer vers le conseil, nettement moins bien payé, où ils expliquent maintenant à d'autres cadres supérieurs ce que l'on n'a pas été capable de faire soi-même - à savoir accéder à un nouveau poste de haut niveau.de se faire conseiller par d'anciens cadres supérieurs qui n'ont pas trouvé de nouveau poste à un moment où ils en auraient eu besoin eux-mêmes et qui ont donc dû	</p>
                
                </div>
            </div>
        </div>
    </div>
</section>



<!-- Start Call to action -->
<section class="call-action overlay" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
                <div class="content">
                    <h2>Do you need more information? Call  +49 1590 302 633 7</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque porttitor dictum turpis nec gravida.</p>
                    
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ End Call to action -->

<section class="Feautes section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="choose-left"><br/>
                     <p>Besprechungen auf hohem Niveau sind nützlich, wenn nicht

                        Es ist wichtig, schnell mit einer großen Anzahl von Kunden (potenziellen neuen Arbeitgebern) in Kontakt zu treten, die Bedarf für das haben, was man selbst anbieten kann. Aus diesem Grund klären wir für unsere Kunden:
                        
                        In welchen Unternehmen besteht Bedarf an dem, was ich anzubieten habe?
                        
                        Wie hoch ist die Wahrscheinlichkeit, dass die Position, die ideal zu meinen Fähigkeiten passt, in den nächsten Monaten neu besetzt oder neu geschaffen wird?
                        
                         Wen sollte ich in dem betreffenden Unternehmen (zum Beispiel im Aufsichtsrat, Beirat, Verwaltungsrat oder Gesellschafterkreis) kontaktieren, um bei der Besetzung der Position berücksichtigt zu werden?
                        
                        Weitere Informationen dazu finden Sie unter : Research: Der Weg zur latenten Vakanz
                        ‍
                        
                        Umwege und (aus unserer Perspektive) Zeitverschwendung!
                        Wir glauben, dass es für einen Top-Manager, der eine neue Stelle sucht, nicht erfolgreich ist.
                        
                         einen (Outplacement-) Berater aufzusuchen, um Unterstützung zu erhalten, ohne sich jedoch auf die "Psychocouch" legen zu müssen, da es nicht um Krankheit, sondern lediglich um die Suche nach einer neuen Position geht,
                         
                        
                         Zeit in Workshops mit anderen Top-Managern zu verbringen, die sich in derselben Situation befinden und ebenfalls auf der Suche nach neuen Möglichkeiten sind,</p>
                </div>
            </div>
            <div class="col-lg-6 col-12">		
                <div class="choose-right"> <br/>
                    <p> sich von ehemaligen Top-Managern beraten zu lassen, die selbst Schwierigkeiten hatten, eine neue Top-Position zu finden und daher in die weniger gut bezahlte Beratung abgedriftet sind, um anderen Top-Managern zu erklären, was ihnen selbst nicht gelungen ist – nämlich den Weg zu einer neuen Top-Position zu finden.

                        Unser Kunde kommt nur zu drei Beratungsterminen, Workshops und anderen Veranstaltungen.
                        
                        Aus diesem Grund sind unsere Kunden, die aus der gesamten D-A-CH-Region zu uns kommen, unabhängig von ihrer geografischen Lage. Während das traditionelle Outplacement auf Beratung und "Hilfe zur Selbsthilfe" setzt, bieten wir Markt-Knowhow, Forschung und Vertriebsunterstützung an.
                        
                        Ein Personalvorstand aus der DAX-30 Welt, der unser Kunde war, äußerte, dass er keine umfassende Unterstützung und Unterstützung von Outplacementberatern benötige, sondern einen effektiven Zugang zum Schreibtisch des Entscheiders in den Unternehmen, die für meine Qualifikationen geeignet sind.
                        
                        Unsere Leistung kann nur schwer besser zusammenfasst werden.
                        
                        Mehr Informationen zum Thema Outplacement finden Sie in dem Ratgeber: Outplacement.  
             
                        bifurquer vers le conseil, nettement moins bien payé, où ils expliquent maintenant à d'autres cadres supérieurs ce que l'on n'a pas été capable de faire soi-même - à savoir accéder à un nouveau poste de haut niveau.de se faire conseiller par d'anciens cadres supérieurs qui n'ont pas trouvé de nouveau poste à un moment où ils en auraient eu besoin eux-mêmes et qui ont donc dû	</p>
                
                </div>
            </div>
        </div>
    </div>
</section>